* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* margin: 0 10%; */
  background-color: #ffffff;
}

.hero {
  height: 50vw;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  overflow: hidden;
  /* margin-left: 5%; */
  margin-bottom: 10vw;
}

p {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.hero-video {
  /* position: absolute;
  top: 0;
  left: 0; */
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  z-index: 10;
}

.hero-text {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  bottom: 8rem;
  margin-left: 5%;
  /* color: #ffffff; */
  color: black;
  animation: slide-up 1s ease-in-out both;
  z-index: 1000;
}

.heading-title {
  font-family: Oswald, sans-serif;
  font-size: 10vw;
}

.heading-sub__title {
  font-family: Oswald, sans-serif;
  font-size: 2vw;
}

.section-title {
  font-family: Oswald, sans-serif;
  padding: 0.5rem 2rem;
  /* margin-bottom: 2rem; */
  font-size: 4vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 5vw;
}

.guide {
  background-image: url(/cherry-blossom-4-removebg.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position-x: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.img {
  /* object-fit: contain; */
  width: 90%;
}

.arrow {
  margin-bottom: 4vw;
}

.guide-container {
  margin: auto 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fit, min-content);
  grid-template-rows: repeat(7, min-content); */
  justify-items: space-evenly;
  align-items: center;
  /* flex-direction: column;
  justify-content: space-between; */
}

.guide-image {
  margin-bottom: 2vw;
}

.guide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
}

.guide-heading {
  font-size: 28px;
  margin-bottom: 2vw;
}

.guide-paragraph {
  padding: 0.5rem 0.5rem;
  width: 25vw;
}

.icon-paragraph {
  padding: 0.5rem 0.5rem;
  width: 95%;
}

.included-items {
  background-color: #f4f4f4;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: c; */
}

.included-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  /* grid-template-rows: repeat(auto-fit, 15rem); */
  grid-gap: 8vw 2vw;
  justify-content: center;
  /* margin: auto; */
  width: 75%;
}

.paragraph-border {
  border: black solid 2px;
  border-radius: 25px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-3rem); */
}

.includes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-1 {
  padding-bottom: 1rem;
}

/* .slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding-bottom: 5vw;
} */

.destinations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  width: 100vw;
}

.carousel {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   top: 18%;
  left: 30%; */
}

.slider-container {
  display: flex;
  /* height: 39.5rem; /* = 24.3rem = 388.5 px 35vw*/
  /* width: 60rem;  */
}
/* 
.slide {
  align-items: center;
  justify-content: center;
} */

.title-text {
  font-family: Oswald, sans-serif;
  font-size: 80px;
  /*   color: white;
  position: absolute;
  top: 15%;
  left: 2%; */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*   align-self: center;
  justify-self: center; */
}

.slider-text {
  font-family: Roboto, sans-serif;
  width: 50%;
  /* color: black;
  line-height: 1.5;
  position: absolute;
  top: 40%;
  left: 5%; */
}

.slide-1 {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #f4f4f4;
}

.slide-2 {
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
  background-color: #c4c4c4;
}
.slide-3 {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #f4f4f4;
}
.slide-4 {
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
  background-color: #c4c4c4;
}

.img {
  width: 20rem;
  height: auto;
}

.review-section {
  margin: 5vw 0;
}

.user-container {
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.user-image {
  height: auto;
  width: 10rem;
  /* position: absolute;
  left: 20vw;
  top: 20vw; */
  position: absolute;
  bottom: -7rem;
}

.user-review__content {
  background-color: #c4c4c4;
  margin: 8rem 0;
  width: 60%;
  /* transform: translateX(5vw); */
  position: relative;
  height: 13rem;
  display: flex;
  justify-content: center;
}

.user-review {
  font-size: 1rem;
  position: absolute;
  width: 70%;
  /* top: 7vw;
  left: 14vw; */
  font-style: italic;
  align-self: center;
}

.left-quote {
  position: absolute;
  left: 2vw;
  top: 0.5vw;
  width: 5vw;
}

.right-quote {
  position: absolute;
  right: 2vw;
  bottom: 0.5vw;
  width: 5vw;
}

.call-to-action {
  margin: 5vw 0 20vw 0;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-title {
  color: black;
}

.cta-main {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.cta-sub {
  font-size: 2rem;
}

/* Scrolling  Sliding*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-up {
  animation: slide-up 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*   ///Transitions// */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
