* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

main {
  margin: 0 10%;
  background-color: #ffffff;
}

.hero {
  height: 50vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  overflow: hidden;
  /* margin-left: 5%; */
}

p {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.hero-content-container {
  background: url(/hero-image.SVG);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/5;
  grid-row: 1/5;
  height: 400vw;
  width: auto;
  /* background-repeat: no-repeat;
  background-size: contain; */
}

/* .image-container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 120vh;
  width: 100%;
  overflow: hidden;
  z-index: -100;
} */

/* .hero-image {
  height: 150vh;
  width: auto;
  object-fit: cover;
} */

.hero-text {
  /* display: flex;
  flex-direction: column; */
  margin-left: 5%;
  /* grid-column: 3/5;
  grid-row: 2/5; */
  color: #ffffff;
  z-index: 100;
}

.heading-title {
  font-family: Oswald, sans-serif;
  font-size: 15vw;
}

.heading-sub__title {
  font-family: Oswald, sans-serif;
  font-size: 4vw;
}

/* .start-btn {
  width: 8rem;
  padding: 1rem 2rem;
} */

.section-title {
  font-family: Oswald, sans-serif;
  padding: 0.5rem 2rem;
  /* margin-bottom: 2rem; */
  font-size: 4vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 5vw;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15vw 0;
  /* height: 100vh; */
}

.img {
  /* object-fit: contain; */
  width: 90%;
}

.guide-container {
  margin: auto 10%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-content);
  grid-template-rows: repeat(7, min-content);
  justify-items: center;
  align-items: flex-end;
  /* flex-direction: column;
  justify-content: space-between; */
}

.guide-image {
  margin-bottom: 2vw;
}

.guide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
}

.guide-heading {
  font-size: 28px;
  margin-bottom: 2vw;
}

.guide-left {
  /* transform: translateX(-5vw); */
}

.guide-paragraph {
  /* height: 100%;
  width: 100%; */
  padding: 0.5rem 0.5rem;
  width: 25vw;
  /* background-color: #c4c4c4; */
}

.icon-paragraph {
  /* height: 100%;
  width: 100%; */
  padding: 0.5rem 0.5rem;
  width: 95%;
  /* background-color: #c4c4c4; */
}

/* .guide-paragraph-right {
  height: max-content;
  width: max-content;
  padding: 0.5rem 0.5rem;
  width: 95%;
  background-color: #c4c4c4; 
  transform: translateX(-20vw); 
}  */

.guide-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.guide-2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.guide-3 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.guide-4 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}

.arrow {
  margin-bottom: 5vw;
}

.arrow-1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.arrow-2 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.arrow-3 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

/* .paragraph-container-left {
  background-color: #c4c4c4;
  display: flex;
  width: 70vw;
  transform: translateX(-20vw);
}

.paragraph-container-right {
  background-color: #c4c4c4;
  display: flex;
  width: 70vw;
  transform: translateX(20vw);
} */

/* .paragraph-container::before {
  background-color: #c4c4c4;
  height: 50%;
  width: 50%;
} */

.included-items {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: c; */
}

.included-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  /* grid-template-rows: repeat(auto-fit, 15rem); */
  grid-gap: 8vw 2vw;
  justify-content: center;
  /* margin: auto; */
  width: 75%;
}

.paragraph-border {
  border: black solid 2px;
  border-radius: 25px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-3rem); */
}

.includes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-1 {
  padding-bottom: 1rem;
}

/* .included-items-img {
  /* margin: 1rem; */
/* } */
/* */

/* .includes-paragraph {
  border: black solid 2px;
  padding: 0.5rem 0.5rem;
  width: 95%;
} */

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5vw;
}

.carousel {
  width: 40rem;
  height: auto;
  margin: 0 auto;
  /* position: relative; */
  /* overflow: hidden; */
  /*   top: 18%;
  left: 30%; */
}

.slider-container {
  display: flex;
  height: 19.5rem; /* = 24.3rem = 388.5 px 35vw*/
}

/* .image-container {
  overflow: hidden;
} */

.image {
  height: 19.5rem; /* = 24.3rem = 388.5 px 35vw*/
  width: 40rem; /*= 45rem 720px 62vw*/
}

.slide-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(30%);
}

.title-text {
  font-family: Oswald, sans-serif;
  font-size: 80px;
  color: black;
  /* position: absolute;
  top: 15%;
  left: 2%; */
}

.slider-text {
  font-family: Roboto, sans-serif;
  width: 25%;
  color: black;
  line-height: 1.5;
  /* position: absolute;
  top: 40%;
  left: 5%; */
}

.slide-1 {
  position: absolute;
}

.slide-2 {
  position: absolute;
  transform: translateX(45rem);
}
.slide-3 {
  position: absolute;
  transform: translateX(90rem);
}
.slide-4 {
  position: absolute;
  transform: translateX(135rem);
}

.btn-left {
  /* position: absolute; */
  display: flex;
  /* bottom: 2rem;
  left: 3rem; */
  z-index: 100;
  font-size: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  color: black;
}

.btn-right {
  /* position: absolute; */
  display: flex;
  /* bottom: 2rem;
  left: 9rem; */
  z-index: 100;
  font-size: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

/* .thumbnail-container {
  position: absolute;
  top: 77%;
  left: 45%;
  display: flex;
  justify-content: space-between;
  width: 470px;
  margin-top: 1rem;
} */

/* .thumbnail {
  width: 150px;
  height: auto;
} */

.review-section {
  margin-top: 5vw;
}

.user-container {
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image {
  height: auto;
  width: 20vw;
  position: absolute;
  left: 20vw;
  top: 20vw;
}

.user-review__content {
  background-color: #c4c4c4;
  margin: 10vw 0;
  width: 70%;
  /* transform: translateX(5vw); */
  position: relative;
  height: 30vw;
}

.user-review__content.right-review {
  /* background-color: #c4c4c4;
  margin: 10vw 0;
  width: 70%;
  transform: translateX(21.5vw); */
}

.user-review {
  font-size: 2.25vw;
  position: absolute;
  width: 70%;
  top: 7vw;
  left: 14vw;
  font-style: italic;
}

.left-quote {
  position: absolute;
  left: 2vw;
  top: 0.5vw;
  width: 8vw;
}

.right-quote {
  position: absolute;
  right: 2vw;
  bottom: 0.5vw;
  width: 8vw;
}

.cta-image {
  object-fit: cover;
}

.cta-container {
  position: relative;
}
