* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
}

.hero {
  height: 50vw;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  overflow: hidden;

  margin-bottom: 10vw;
}

p {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.hero-video {
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  z-index: 10;
}

.hero-text {
  position: absolute;
  bottom: 8rem;
  margin-left: 5%;

  color: black;
  animation: slide-up 1s ease-in-out both;
  z-index: 1000;
}

.heading-title {
  font-family: Oswald, sans-serif;
  font-size: 10vw;
}

.heading-sub__title {
  font-family: Oswald, sans-serif;
  font-size: 2vw;
}

.section-title {
  font-family: Oswald, sans-serif;
  padding: 0.5rem 2rem;

  font-size: 4vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 5vw;
  width: 100%;
}

.guide {
  background-image: url(/cherry-blossom-4-removebg.png);
  background-repeat: no-repeat;

  background-position-x: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 90%;
}

.arrow {
  margin-bottom: 4vw;
}

.guide-container {
  margin: auto 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  justify-items: space-evenly;
  align-items: center;
}

.guide-image {
  margin-bottom: 2vw;
}

.guide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
}

.guide-heading {
  font-size: 28px;
  margin-bottom: 2vw;
}

.guide-paragraph {
  padding: 0.5rem 0.5rem;
  width: 25vw;
}

.icon-paragraph {
  padding: 0.5rem 0.5rem;
  width: 95%;
}

.included-items {
  background-color: #f4f4f4;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.included-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);

  grid-gap: 8vw 2vw;
  justify-content: center;

  width: 75%;
}

.paragraph-border {
  border: black solid 2px;
  border-radius: 25px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.includes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-1 {
  padding-bottom: 1rem;
}

.destinations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  width: 100vw;
}

.carousel {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
}

.title-text {
  font-family: Oswald, sans-serif;
  font-size: 5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-text {
  font-family: Roboto, sans-serif;
  width: 50%;
  margin-bottom: 4vw;
}

.slide-1 {
  display: flex;

  background-color: #f4f4f4;
}

.slide-2 {
  display: flex;
  flex-direction: row-reverse;

  background-color: #c4c4c4;
}
.slide-3 {
  display: flex;

  background-color: #f4f4f4;
}
.slide-4 {
  display: flex;
  flex-direction: row-reverse;

  background-color: #c4c4c4;
}

.img {
  width: 20rem;
  height: auto;
}

.review-section {
  margin: 5vw 0;
  display: grid;
  grid-template-columns: 1fr;
}

.review-title {
  justify-self: center;
  width: 100%;
}

.user-container {
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.user-image {
  height: auto;
  width: 10rem;
  position: absolute;
  bottom: -7rem;
}

.user-review__content {
  background-color: #c4c4c4;
  margin: 8rem 0;
  width: 60%;
  position: relative;
  height: 13rem;
  display: flex;
  justify-content: center;
}

.user-review__content:first-child {
  margin: 0 0 8rem 0;
}

.user-review {
  font-size: 1rem;
  position: absolute;
  width: 70%;
  font-style: italic;
  align-self: center;
}

.left-quote {
  position: absolute;
  left: 2vw;
  top: 0.5vw;
  width: 5vw;
}

.right-quote {
  position: absolute;
  right: 2vw;
  bottom: 0.5vw;
  width: 5vw;
}

.call-to-action {
  margin: 5vw 0 20vw 0;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-title {
  color: black;
}

.cta-main {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.cta-sub {
  font-size: 2rem;
}

/* Scrolling  Sliding*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-up {
  animation: slide-up 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .guide-paragraph {
    padding: 0.5rem 0.5rem;
    width: 50vw;
  }
}

/*   ///Transitions// */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
